
sup {
  /*vertical-align: super !important;*/
  position: relative; top: -0.5em; font-size: 80%;
  font-size: 80% !important;
}

.right {
  text-align: right !important;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: none !important;
}

h1 {
  font-size: 2em !important;
}

h2,h3,h4,h5,h6 {
  font-size: 2em !important;
}

img {
  border: none !important ;
}

section {
  text-align: left;
}

pre code {
  font-size: 1.5em !important;
  line-height: 1.5em !important;
}

p, li {
  line-height: 1.5em !important;
}

th, td {
  padding-right: 2em !important;
  margin: 0px !important;
}

th {
  border-bottom: solid 0.1em black !important;
}
